body { 
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */ 
}

.error {
	color: #ff0000;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

