<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-4.2.xsd">

  <http auto-config="true">
    <intercept-url pattern="/resources/**" access="permitAll" />
    <intercept-url pattern="/login*" access="permitAll" />
    <intercept-url pattern="/" access="hasAnyRole('USER', 'ADMIN')" />
    <intercept-url pattern="/list" access="hasAnyRole('USER', 'ADMIN')" />
    <intercept-url pattern="/newuser/**" access="hasRole('ADMIN')" />
    <intercept-url pattern="/delete-user-*" access="hasRole('ADMIN')" />
    <intercept-url pattern="/edit-user-*" access="hasRole('ADMIN')" />
    
    <form-login
        login-page='/login'
        default-target-url="/"
        authentication-failure-url="/login?error"
        username-parameter="ssoId"
	    password-parameter="password" />
      
    <logout logout-success-url="/login?logout" />
    <csrf/>  
  </http>

  <authentication-manager>
      <authentication-provider>
          <user-service>
              <user name="user" password="passwd" authorities="ROLE_USER" />
              <user name="admin" password="passwd" authorities="ROLE_ADMIN" />
              <user name="dba" password="passwd" authorities="ROLE_DBA" />
          </user-service>
      </authentication-provider>
  </authentication-manager>

</beans:beans>