<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="MyFile" fileName="${log-path}/logger.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="MyFile"/>
        </Root>
        <Logger name="org.springframework" level="warn" />
        <Logger name="org.hibernate.validator" level="warn" />
        <Logger name="com.foo" level="debug" /> 
    </Loggers>
</Configuration>
